.body{
    display: flex;
    justify-content: center;
    height: 100%;
    background: #d4d4d4;
    align-items: center;
    color: #000;
}
.login{
    width: 100%;
    max-width: 330px;
   text-align: center;
}
.login img{
    width: 50%;
}
mat-form-field.mat-form-field {
    font-size: 16px;
    color:#000;
  }

  mat-form-field mat-label{
    color:#000;
  }
  .form-w{
      width:80%;
  }
  .form-w mat-label{ color: #000; font-weight: 700;}
  .spinner{ margin: 2rem auto;}